{:ignatius/version "0.1.0"
 :ignatius/dependencies
 {:hara
  {:repository "https://github.com/hara-lang/hara.git"
   :revision "d305875e3bfe3d8fc4f8a1462053e4ca901aaa74"
   :checkout ".local/hara.lang"}
  :foundation
  {:repository "https://github.com/zcaudate-xyz/foundation-base.git"
   :revision "baa75aabd6a879753d7d5cb07271b1448271e7cb"
   :checkout "db/checkouts/foundation"}}}
