{:ignatius/version "0.1.0"
 :ignatius/dependencies
 {:hara
  {:repository "https://github.com/hara-lang/hara.git"
   :revision "99a0b106158dec0902ebe08349c8f8b113d97ea9"
   :checkout ".local/hara.lang"}
  :foundation
  {:repository "https://github.com/zcaudate-xyz/foundation-base.git"
   :revision "c3e37bfc41cc1a27305351279fb31832f637448d"
   :checkout "db/checkouts/foundation"}}}
