{:hara/type :project
 :hara/version "1.0.0"
 :project/id gw/ledger.noir
 :project/version "0.1.0"
 :project/source-paths ["src"]
 :project/test-paths ["test"]
 :project/extension-paths ["target/package"]
 :project/capabilities #{:process}
 :project/artifact-paths ["target/package"]
 :project/archive-root "target/package"
 :project/recipe "hara.recipe.edn"
 :project/package {:entry-points ["ignatius.extension.noir"]
                   :license "Apache-2.0"}
 :project/dependencies
 {"gw/ledger.sha" {:version "^0.1.0"}}}
