{:recipe/format "0.0.0-alpha"
 :recipe/adapter :rust-wasm
 :recipe/toolchain {:rust "1.78.0"
                    :target "wasm32-unknown-unknown"
                    :builder "ghcr.io/hara-lang/build-rust-wasm@sha256:5d714f6c4ed41c61e41f9c35e16a3fe3ddaa19651e0f7d59fe185a7f202f06d8"}
 :recipe/inputs {:manifest "rust/Cargo.toml"
                 :lockfile "rust/Cargo.lock"
                 :workspace-dependency {:coordinate "hara-lang/hara"
                                        :source "https://github.com/hara-lang/hara.git"
                                        :revision "99a0b106158dec0902ebe08349c8f8b113d97ea9"}
                 :locked true}
 :recipe/outputs [{:from "rust/target/wasm32-unknown-unknown/release/ignatius_sha.wasm"
                   :to "ignatius/sha/provider/sha256.wasm"}
                  {:from "extension/hara.extension.edn"
                   :to "ignatius/sha/provider/hara.extension.edn"}]
 :recipe/limits {:cpu-seconds 300
                 :memory-mib 1024
                 :output-mib 16
                 :network :prepare-only}}
